*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    flex: initial;
    
    
    
}

/* Main */
.main-header{
    font-weight: bolder;
}

.main-info {
    width: 100%;
    padding: 100px;
    
    justify-content: center;
    
}




/* navigation bar */







.navbar{
    
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    
    position: fixed;
    background: rgb(163, 138, 138);
    padding: 5px;
    
 
}

.navbar .main-header {
    
    color: white;
    font-size: 40px;
    margin-left: 1%;
    
}

.navbar .menu li a{
   
    
    color: black;
    
    margin-left: 15px;
    margin-right: 5px;
    

}

.navbar .menu li{
    list-style: none;
    
    display: inline-block;
    margin-right: 5px;;

}

body nav header{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


/* home section */

main {
    
    min-height: 100vh;
    min-width: 200vh;
    height: 100vh;
    
    

    background: rgb(128, 118, 118);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.main .home-content {
    min-width: 200px;
    margin-bottom: 100%;
    position: fixed;
    
    width: 100%;
    text-align: center;
    z-index: 1;
}

.main .home-content .homeBx {
    background-color: grey;
    margin-top: -200px;
}

.main .home-content h2{
    
    font-size: 5em;
    line-height: 1em;
}

.main .home-content span {
    
    
    text-align: center;
    color: yellowgreen;
    font-size: 1em;
}

.main .home-content p{
    
    color: rgb(6, 69, 138);
    
    font-size: 20px;
}


footer {
    text-align: center;
    background-color: rgb(163, 138, 138);
    padding: 20px;
    height: 30px;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

footer a {
    justify-content: space-between;
    width: 25%;
    padding: 0 60px;
    transition: all 0.3s ease;
}



/* Contact */

.register-me, .main-section, .login{
    width:70%;
    margin-left: 15%;
    margin-top: 2%;
    text-align: center;
    padding: 10px;
    background-color: rgb(163, 138, 138);
    
    border-radius: 50px;
}

.register-box, .main-box, .login-box {
    width: 100%;
    padding: 1px;
    display: grid;
    
}

.register-me .check, .login {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.register-form, .login-form {
    
        padding-left: 1rem;
    }
.register-title, .main-title, .login-title {
    
        text-align: center;
        transform: initial;
        font-size: 30px;
    }

    .register-form .row, .login-form{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(autofit, minmax(100px, 1fr));
        
    }

    .register-input, .login-input{
padding: 1rem 2rem;
margin: 0.6rem 0;
border: none;
background: rgb(210,210,210);
border-radius: 10px;

    }

    .register-input::placeholder, .login-input::placeholder{
        font-weight: 400;
    }

    .register-input-textarea{
        border-radius: 10px;
        padding: 1rem;
        min-height: 100px;;
        resize: none;
    }


    .row button{
        padding: 15px;
        width: 14%;
        display:grid;
        margin-top: 10px;
        margin-left: 43%;
        text-align: center;
        
        
        background-color: rgb(210,210,210);
        color: black;
        font-size: 16px;
        border: none;
        outline: none;
        cursor:pointer
    }
    
    /* Education */

    .column {
        padding:50px;
        float:left;
        width:33%;
        justify-content: center;
   
    }
    
    .column img {
        width: 100%;
        height:25%;
    
    }

    /* Skills  */

    .column_2 {
        width: 50%;
        justify-content: center;
        float: left;
        padding:50px;

    }

    .row-skills {
        height:33%;
        justify-content: space-between;
    }

    .logo{
        width:10%;
        height:10%;
    }
    .skills-list:not(:last-child) {
        margin-bottom: 15px; 

    }


    .login-form input{
        width:75%;
    }



        /* Scroll */

.scroll-div{
    
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;

}

.scroll-object{
    color:black;
    font-size: 18px;
    padding: 10px;


}


       
    